.main-content{
  padding-top: 70px;
  min-height: calc(100vh - 70px);
  background: #1d212f;
}

.router{
  width: 700px;
  margin: 0 auto;
  margin-top: 60px;
  min-height: 500px;
  background: white;
  padding: 0px 25px;
}
